* {
    font-family: 'Roboto', sans-serif;
}
.link {
    color: #fff !important;
    text-decoration: none;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-7xl {
    max-width: 80rem;
}

body {
    background-color: #343433;
}

.active {
    color: #fcae17 !important;
    font-weight: 400;
}

.ml-5 {
    margin-left: 5px;
}