* {
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler-icon{color: white;}

.navbar{background-color: #2d2d2d; min-height: 10%;}

.navbar-brand img { width:30px; height: 30px;}

.navbar-toggler-icon img { width:30px; height: 30px;}

#nav-conteudo{font-size: .8rem;}

#main{height: 350%; width: 100%;}

.post-main{height: 100%; width: 75%; background-color: #444444;}

footer{background-color: #2d2d2d; margin-bottom: 0; height: 10%;}

.footer-table{margin: 0 auto; color: #fff; height: 100%; font-weight: 300; font-size: small;}

.link {
    color: #fff !important;
    text-decoration: none;
}

body {
    background-color: #343433;
    margin: 0;
}

.active {
    color: #fcae17 !important;
    font-weight: 400;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
#main-head{
    width: auto;
    min-height: 20%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(68,68,68,1) 100%);
}

.nav {
    position: fixed;
}

.wrap {
    width: 100%;
    font-size: 4vw;
    overflow: auto;
}

@keyframes fade-down {
    0%   {margin-top:-3%;opacity: 0;}
    100%  {margin-top:0;opacity: 100%;}
}
.fade-down{
    animation-name: fade-down;
}

.icons img{
    margin: 30px 7px;
    height: 30;
}

.refs, .refs a {
    text-decoration: none !important; 
    color: #8f8f8f80 !important;
}

#nome {
    font-weight: 900;
    line-height: 3rem;
    text-shadow: 2px 2px #525252;
}

.main-info {
    color: #FFF;
    text-align: left;
    line-height: 2rem;
    animation-duration: 6s;
}

.main-info h5 {
    font-weight: 300;
}

@media(max-width: 1015px) {
    .main-info{
        width:100%;
    }
}